.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation-links a:hover {
  color: #EDDCD2;
}
:root {
  --primary-color: #cb997e;
  --secondary-color: #ddbea9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.contact {
  margin-top: 10px;
}
.launch-app {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: table;

  
}
.launch-research {
   border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  display: table;
}
.launch-research:hover {
  color: #EDDCD2;
}
.launch-app:hover{
  color: #EDDCD2;
}
.contact-link:hover {
  color: #EDDCD2;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.about-paragraphs p {
  margin: 10px;
}
p {
  background: white;
  
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  padding: 10px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
h1 {
  font-size: 96px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 34px;
    line-height: 1.5;
  }
  h2 {
    font-size: 32px;
  }
  
  
 p {
    text-align: left;
  }
  h3, h4, h5, h6 {
    font-size: 26px;
  }
}

h3 {
  font-size: 24px;
  opacity: 0.7;
} 
h1,
h2
 {
  text-align: center;
  margin: 0;
 
}
h4, h5, h6 {
  font-size: 48px;
   font-family: 'Garamond', serif;
  
}
h3 {
  text-align: center;
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
}
h1 {
  font-family: 'Garamond', serif;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.about-section h1{
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 32px;
  
}
.about-section h4 {
  font-size: 36px;
}
.about-section {
  padding: 20px 20px;
}
.about-section-content {
margin: 30px;
}

img {
  border-radius: 4px;
}

.work-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.work-section h5 {
  font-size: 30px;
  color: black;
  font-family: 'Garamond', serif;
  margin-bottom: 0px;
}

.work-section h6 {
  font-size: 20px;
  
  margin-top: 0px;
  
}
.about-section p a {
  text-decoration: none;
  color: var(--primary-color);
}
.about-section p a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.bg-light {
    --bs-bg-opacity: 0.5;
    background-color: #EDDCD2 !important;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 300;
     font-size: larger;
     text-emphasis-color: #EDDCD2;
}
.link-index {
  text-decoration: none;
  color: var(--primary-color);
}
.link-index:hover {
text-decoration: underline;
  color: var(--secondary-color);
}

.contact-section p a {
  color: var(--primary-color);
  font-weight: 200;
}
.contact-section p a:hover {
  color: var(--secondary-color);
}
.contact-section p {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}